<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-3">
      <mat-form-field>
        <mat-select placeholder="Select Disaster" (selectionChange)="changeList($event)">
          <mat-option *ngFor="let list of checkLists" [value]="list">
            {{list.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="container" style="min-width: 1100px; height: 500px; margin: 0 auto;"></div>
  </div>
</div>